<footer class="footer-main">
    <div class="footer-main__top">
        <a href="">Магазины</a>
        <ul class="footer-main__social">
            <li>Facebook</li>
            <li>VK</li>
            <li>Instagramm</li>
            <li>Youtube</li>
        </ul>
        <p>Östra Varvsgatan 4 SE-211 75 Malmö Sweden</p>
        <p>8 (800) 220-30-00</p>
        <p>oplata@hilding-anders.ru</p>
    </div>
    <div class="footer-main__bottom">
        <ul class="pay-types">
            <li>MasterCard</li>
            <li>Visa</li>
            <li>PayPal</li>
        </ul>
        <p>© 2012–2017 Hilding Anders Group</p>
        <p>Сделано в <a href="#">Greensight</a></p>
    </div>
</footer>
