<header class="header-main">
    <div class="container">
        <nav class="menu">
            <img class="menu__logo" src="img/logo.png" alt="Логотип" width="116" height="36">
            <ul class="menu__goods">
                <li class="menu__item menu__item--mobile">
                    <a href="#">
                        <svg width="36" height="24">
                            <use xlink:href="#icon-hamburger"></use>
                         </svg>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="">Матрасы</a>
                </li>
                <li class="menu__item">
                    <a href="">Кровати</a>
                </li>
                <li class="menu__item">
                    <a href="">Диваны</a>
                </li>
                <li class="menu__item">
                    <a href="">Подушки</a>
                </li>
                <li class="menu__item">
                    <a href="">Детские матрасы</a>
                </li>
                <li class="menu__item">
                    <a href="">Наматрасники</a>
                </li>
                <li class="menu__item">
                    <a href="">Постельное белье</a>
                </li>
                <li class="menu__item">
                    <a href="">Одеяла</a>
                </li>
            </ul>
            <ul class="menu__user">
                <li class="menu__user-item menu__user-item--compare">
                    <a href="#">
                        <svg width="24" height="21">
                            <use xlink:href="#icon-balance"></use>
                        </svg>
                    </a> 
                </li>
                <li class="menu__user-item menu__user-item--favorite">
                    <a href="#">
                        <svg width="23" height="22">
                            <use xlink:href="#icon-star"></use>
                        </svg>
                    </a>                      
                </li>
                <li class="menu__user-item menu__user-item--cart">
                    <a href="#">
                        <svg width="23" height="21">
                            <use xlink:href="#icon-cart"></use>
                        </svg>
                    </a>                    
                </li>
            </ul>
        </nav>
    </div>
</header>
