<div id="popup-template" class="popup" data-animation="zoom" data-show-after="#popup-template-wide" style="display: none;">
    <div class="popup__body">
        <h2 class="popup__hl">Попап</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>

        <button type="button" data-href="#popup-template-wide" class="link" data-popup="open" data-show-parent-after-close="true">Широкий попап (после закрытия откроется родительский)</button>
        <button type="button" data-href="#popup-template-wide" class="link" data-popup="open">Широкий попап (после закрытия ничего не откроется)</button>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-wide" class="popup popup--wide" data-animation="zoom" style="display: none;">
    <div class="popup__body">
        <h2 class="popup__hl">Широкий попап</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-fullscreen" class="popup popup--fullscreen" data-fullscreen="true" data-wrap-class="fancybox-wrap--fullscreen" data-animation="zoom" style="display: none;">
    <div class="popup__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-foot" class="popup" data-animation="zoom" style="display: none;">
    <div class="popup__body">
        <h2 class="popup__hl">С футером</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>

    <div class="popup__footer">
        Текст в футере
    </div>
</div>

<div id="popup-template-aside-left" class="popup popup--aside popup--menu" data-aside="true" data-animation="push-left" data-time="400" data-wrap-class="fancybox-wrap--aside-left" style="display: none;">
    <div class="popup__body">
        <h2 class="popup__hl">Боковой слева, 100% с 768</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-aside-right" class="popup popup--aside" data-aside="true" data-animation="push-right" data-time="400" data-wrap-class="fancybox-wrap--aside-right" style="display: none;">
    <div class="popup__body">
        <h2 class="popup__hl">Боковой справа, 100% с 768</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In aspernatur ipsa tempora quis ducimus, aut, possimus illum eum! Ratione suscipit cum nostrum, iure quia laborum error quod vitae cupiditate aperiam.</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-fixed" class="popup popup--fixed" data-fixed="true" data-animation="push-top" data-wrap-class="fancybox-wrap--fixed" data-breakpoint="false" data-overlay="false" data-fixed-timeout="false" style="display: none;">
    <div class="popup__body">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-fixed-auto" class="popup popup--fixed" data-fixed="true" data-animation="push-top" data-wrap-class="fancybox-wrap--fixed" data-breakpoint="false" data-overlay="false" style="display: none;">
    <div class="popup__body">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-dropdown-left" class="popup popup--dropdown" data-dropdown="true" data-animation="zoom" data-wrap-class="fancybox-wrap--dropdown-left" data-breakpoint="false" data-parent="#popup-template-dropdown-left-container" style="display: none;">
    <div class="popup__body">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-dropdown-center" class="popup popup--dropdown" data-dropdown="true" data-animation="zoom" data-wrap-class="fancybox-wrap--dropdown-center" data-breakpoint="false" data-parent="#popup-template-dropdown-center-container" style="display: none;">
    <div class="popup__body">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-dropdown-right" class="popup popup--dropdown" data-dropdown="true" data-animation="zoom" data-wrap-class="fancybox-wrap--dropdown-right" data-breakpoint="false" data-parent="#popup-template-dropdown-right-container" style="display: none;">
    <div class="popup__body">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>

<div id="popup-template-text" class="popup popup--wide popup--text" data-animation="zoom" style="display: none;">
    <div class="popup__body popup__body--bordered">
        <h2 class="popup__hl">Текстовый попап</h2>
    
        <h3>Подзаголовок</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</p>

        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur officiis nobis praesentium cumque, est atque quis quam illum nisi, veniam dicta aut debitis vero, necessitatibus qui id distinctio illo sequi!</strong></p>

        <table class="table">
            <thead>
                <tr>
                    <th>Head 1</th>
                    <th>Head 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-table-title="Head 1">Body 11</td>
                    <td data-table-title="Head 2">Body 12</td>
                </tr>
                <tr>
                    <td data-table-title="Head 1">Body 21</td>
                    <td data-table-title="Head 2">Body 22</td>
                </tr>
                <tr>
                    <td data-table-title="Head 1">Body 31</td>
                    <td data-table-title="Head 2">Body 32</td>
                </tr>
            </tbody>
        </table>

        <button class="popup__close" data-popup="close" type="button" title="Закрыть">
            <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
    </div>
</div>