.news {
    &__header {
        text-align: center;
    }

    &__list {
        display: flex;

        &-item {
            display: flex;
        }
    }

    &__list {
        list-style: none;
    }
}