.store-address {
    font-size: 16px;
    display: flex;

    &__address {
        padding: 43px 0 0 117px;
        line-height: 23px;
    }

    &__header {
        font-size: 40px;
        padding: 74px 0 0 119px;
    }

    &__phone {
        padding: 0 calc($gutter-step * 3);
    }

    &__map {
        margin: 57px 74px 0 auto;
        width: 349px;
        height: 353px;
    }

    &__contacts {
        padding: 20px 0 0 148px;
        line-height: 32px;
    }
}